name: Releases

on: 
  push:
    tags:
    - 'v*'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - name: Pack
      run: ./pack.sh
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.jar,*.zip"
        bodyFile: "body.md"
